---
# Only the main Sass file needs front matter (the dashes are enough)
---




//customize color
$text-color: #3B4044;
$masthead-link-color: #3B4044;
//$background-color: red;
//$body-color: red; //??
//$link-color: red;


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

@import "minimal-mistakes"; // main partials


//customize font - Nanum Gothic from google font
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

//add academicons 
@import url(academicons.min.css);

//customize the color of icon "linked in"
.social-icons {
  .fa-linkedin {
    color: #363636;
  }
}